<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <title><%=appName%></title>

    <!-- Error CSS -->
    <% if (current_view == "error") { %>
        <link rel="stylesheet" type="text/css" href="css/error.css"/>
    <% } %>

    <!-- Signup CSS -->
    <% if (current_view == "signup") { %>
        <link rel="stylesheet" type="text/css" href="css/signup.css"/>
    <% } %>

    <!-- Login CSS -->
    <% if (current_view == "login") { %>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <% } %>

    <!-- Auth CSS -->
    <% if (current_view == "signup" || current_view == "login") { %>
        <link rel="stylesheet" type="text/css" href="css/partials/auth.css"/>
        <link rel="stylesheet" type="text/css" href="css/partials/auth_providers.css"/>
    <% } %>

    <!-- Canvas CSS -->
    <% if (current_view == "canvas") { %>
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>
    <% } %>   
</head>