/* CANVAS */
* {
    margin: 0px;
    padding: 0px;
}

html,body {
    width: 100%;
    height: 94%;
    overflow: hidden;
    background-color: rgb(44, 52, 49);
}

/* MENU + CHATS */

.menu_bar{
    width: 100%;
    height: 6%;
    background-color: #581845;
}

.chat:hover {
    background-color: #C70039;
  }

.chat{
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
    width: 10%;
    background-color: #900C3F;
    float: left;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.logout
{
    display: flex;
    width:100%;
    height: fit-content;
    justify-content:center;
    padding-top: 1em;
}

.logout a
{
    display:none;
}

#logout
{
    background-color:aquamarine;
    height: 4em;
    width: 15em;
    border:none;
    border-radius: 10px;
}