* {
    margin: 0px;
    padding: 0px;
}

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(44, 52, 49);
}  
  
#container 
{
    display:grid;
    place-items: center;
    height: 100%;
    width:100%;
    overflow:auto;
}

.label {
    height: 20%;
    font-size: 60px;
    font-weight: bold;
    padding: 0.5em 0.5em 0.8em 0.5em;
    overflow: hidden;
}

input {
    width: 80%;
    height: 3em;
    border-radius: 5px;
    border-color: #488484;
    background-color: #ffffff;
    border-width: 1px;
    padding: 1% 2% 1% 2%;
    overflow: hidden;
    font-size: 100%;
    text-align: center;
}

#button {
    transition: all 0.3s ease;
    width: 12em;
    height: 4em;
    border-radius: 5px;
    border-width: 0px;
    background-color: #5eabab;
    font-size: 100%;
    font-weight: bold;
}

#button:hover {
    background-color: #7cd8d8;
  }

.change {
    transition: all 0.3s ease;
    height: 10%;
    padding: 0% 10% 0% 10%;
    text-align: center;
    font-weight: bold;
    color: #747169;
}

.change:hover {
    color: #292927;
}

.pnlerroriput {
    color: red;
    overflow: hidden;
    font-size: small;
    font-weight: bold;
    margin-top: 1px;
}


/* LOGIN CSS */

.loginspan
{
    border-radius: 25px;
    background-color: #ffffff;
    width: 40em;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 2em;
}

.input-username-login {
    margin-bottom: 2em;
}

.input-password-login{
     margin-bottom: 2em;
}

.submit-button-login{
    margin-bottom: 2em;
}

/* SIGNUP CSS */

.signupspan
{
    border-radius: 25px;
    background-color: #ffffff;
    width: 40em;
    height: auto;
    overflow: hidden;
    text-align: center;
     padding: 2em;
}

.input-username-signup {
    margin-bottom: 2em;
}

.input-password-signup{
    margin-bottom: 2em;
}

.submit-button-signup{
    margin-bottom: 2em;
}

/* FLASH MESSAGES */
.alert
{
    transition: all 1s ease;
    color: #b21111;
    font-family: 'Roboto';
    font-weight: bold;
    display:flex;
    width: 60%;
    height: auto;
    background-color: #ec8e8e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 5px;
    place-items:center;
    justify-content: center;
    padding: 1.5em;
    word-break: break-word;
}