<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>
    </head>
    <body>
        <span class="canvas">
            <div class="menu_bar">
                <div style="display:none"class="chat template" name ="exit">GO TO FOREST</div>
            </div>
        </span>
        <div class="logout">
            <button id="logout"> logout </button>
            <a href="http://localhost:9014/logout"></a>
        </div>
        <canvas id="canvas"></canvas>
    </body>

<script type="application/javascript" src="model/model.js"></script>
<script type="application/javascript" src="view/view.js"></script> 
<script type="application/javascript" src="controller/myapp.js"></script> 
<script type="application/javascript" src="client.js"></script> 
<script type="application/javascript" src="framework.js"></script>
<script type="application/javascript" src="js/canvas.js"></script>

