<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="media/logos/jabbon.ico"/>
        <title>Jabbon</title>
    </head>
    <body>
        
        <!--- JABBON -->
        <div id="Jabbon">

            <!--- GRID -->
            <div class="grid-layout">
                 
                <!--- CANVAS -->
                <div id="canvas_container">
                    <canvas id="canvas"></canvas>
                </div>

                <!--- CHAT -->
                <div id="chat">
                    <div class="banner">
                        <div class="room-name"></div>
                        <div class="room-people">You</div>
                    </div>
                    <div id="conversation">
                        <div class="fix"></div>
                    </div>

                    <div class="input"> 
                        <input id="keyboard-input" placeholder="Start typing some message" type="text"\>
                    </div>
                </div>
                
                <!--- LOGOUT -->
                <form action="/logout" id="logout-form">
                    <button type="submit" id="logout-button"> Logout </button>
                </form>
            </div>

            <!--- TEMPLATES -->
            <div id="new-user-message-template" class="user-message-layout">
                <div class="message">
                    <div class="username"></div>
                    <div class="fix">
                        <div class="message-content"></div>
                        <div class="message-time"></div>
                    </div>
                </div>
            </div>

            <div id="concurrent-user-message-template" class="message">
                <div class="fix">
                    <div class="message-content"></div>
                    <div class="message-time"></div>
                </div>
            </div>
        </div>


    </body>

    <!--- SCRIPTS -->
    <script type="application/javascript" src="model/model.js"></script>
    <script type="application/javascript" src="view/view.js"></script> 
    <script type="application/javascript" src="controller/myapp.js"></script> 
    <script type="application/javascript" src="client.js"></script> 
    <script type="application/javascript" src="framework.js"></script>
    <script type="application/javascript" src="js/canvas.js"></script>
</html>

