<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>
    </head>
    <body>
        <form action="/logout">
            <button type="submit" id="logout"> Logout </button>
        </form>
        <canvas id="canvas"></canvas>
    </body>

<script type="application/javascript" src="model/model.js"></script>
<script type="application/javascript" src="view/view.js"></script> 
<script type="application/javascript" src="controller/myapp.js"></script> 
<script type="application/javascript" src="client.js"></script> 
<script type="application/javascript" src="framework.js"></script>
<script type="application/javascript" src="js/canvas.js"></script>

