<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/canvas.css"/>
    </head>
    <body>
        <span class="canvas">
            <div class="menu_bar">
                <div class="chat template">eric</div>
                <div class="chat template">javi</div>
                <div class="chat template">room</div>
            </div>
            <canvas id="canvas"></canvas>
        </span>
    </body>

<script type="application/javascript" src="model/model.js"></script>
<script type="application/javascript" src="view/view.js"></script> 
<script type="application/javascript" src="controller/myapp.js"></script> 
<script type="application/javascript" src="client.js"></script> 
<script type="application/javascript" src="tempframework.js"></script>
<script type="application/javascript" src="js/canvas.js"></script>

