<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
                <span class="loginspan">
                    <div class="label">Log in</div>
                    <div class="input-username-login">
                        <input type="text" placeholder="username" name="username">
                        <div style="display:none" class="pnlerroriput" id="pnl1"></div>
                    </div>
                    
                    <div class="input-password-login">
                        <input type="password" placeholder="password" name="password">
                        <div style="display:none" class="pnlerroriput" id="pnl2"></div>
                    </div>

                    <% if (login_user_error && login_user_error.length > 0) { %>
                        <div class="alert"><%= login_user_error %></div>
                    <% } %>

                    <div class="submit-button-login">
                        <button type="button" id="button">Go!</button>
                    </div>

                    <% if (login_error && login_error.length > 0) { %>
                        <div class="alert"><%= login_error %></div>
                    <% } %>

                    <div class="change"><a href="http://localhost:9014/signup">sign up</a></div>
                </span>
                
        </div>
    </body>
    <script src="./js/ejs.js"></script>
    <script src="./framework.js"></script>
    <script src="./js/login.js"></script>
    <script>login.init()</script>
</html>