<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
                <span class="loginspan">
                    <div class="label">Log in</div>

                    <form action="/login" method="post">
                        <section>
                            <input id="username" name="name" type="text" autocomplete="username" placeholder="username" required autofocus>
                        </section>
    
                        <section>
                            <input id="password" name="password" type="password" autocomplete="password" placeholder="password" required>
                        </section>
    
                        <% if (login_user_error && login_user_error.length > 0) { %>
                            <div class="alert"><%= login_user_error %></div>
                        <% } %>
    
                        <% if (login_error && login_error.length > 0) { %>
                            <div class="alert"><%= login_error %></div>
                        <% } %>
                        
                        <div class="submit-button-signup">
                            <button type="submit">Go!</button>
                        </div>
                    </form>
    
                    <div class="change"><a href="http://localhost:9014/signup">sign up</a></div> 
                </span>                
        </div>
    </body>
    <script src="./js/ejs.js"></script>
    <script src="./framework.js"></script>
    <script src="./js/login.js"></script>
    <script>login.init()</script>
    <script>
        document.querySelector("#username").value = '<%-login_username%>';
        document.querySelector("#password").value = '<%-login_password%>';
    </script>
</html>