<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
    </head>
    <body>
        <div id="container" >
                <div class="label">Log in</div>
                <span class="loginspan">
                    <div class="input-username-login">
                        <input type="text" placeholder="username" id="input" name="username">
                        <div style="display:none" class="pnlerroriput" id="pnl1"></div>
                    </div>
                    <div class="input-password-login">
                        <input type="password" placeholder="password" id="input" name="password">
                        <div style="display:none" class="pnlerroriput" id="pnl2"></div>
                    </div>
                    <div class="submit-button-login">
                        <button type="button" id="button">Log in</button>
                    </div>
                </span>

                <div class="change">sign un</div>
        </div>
    </body>
    <script src="./framework.js"></script>
    <script src="./js/login.js"></script>
    <script>login.init()</script>
</html>